.logo .logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #63b3ed;
  box-shadow: 0 0 20px rgba(99, 179, 237, 0.5);
}

.wrapper.spotlight .image {
  border-radius: unset;
  display: flex;
  justify-content: center;
}

.wrapper.spotlight .image img {
  object-fit: cover;
  height: 170px;
  width: 170px;
}

.disabled {
  pointer-events: none;
}

span.tech {
  color: #b7b7b8;
  font-size: 15px;
}

#banner {
  min-height: 70vh;
}

@media screen and (max-width: 768px) {
  .wrapper.spotlight .image img {
    object-fit: cover;
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 484px) {
  .wrapper.spotlight .image {
    display: inline-block;
  }
  .wrapper.spotlight .image img {
    height: 100px;
    width: 100px;
  }

  .wrapper.spotlight .image.custom-right img {
    margin-left: auto;
  }

  .wrapper.spotlight .image.custom-left img {
    margin-right: auto;
  }
}